.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.score {
  position: absolute;
  right: 100px;
  top: 25px;
}

.high-score {
  color: var(--blue);
}

.game-over {
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--black-background);
  flex-direction: column;
  color: var(--white);
}

.game-over button {
  padding: 10px 20px;
  background: var(--blue);
  color: var(--white);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.game-over h1 {
  margin-bottom: 2rem;
}

.canvas {
  width: 100vw;
  height: 100vh;
}
